# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Opt in to configuration files.
/link/.config/

# Haskell stack.
/link/.stack/build-plan-cache/
/link/.stack/build-plan/
/link/.stack/indices/
/link/.stack/templates/

# Other ghc config.

/link/.ghc/ghci_history
/link/.ghc/x86*/

/link/.vim/haskellmode.config

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
